<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">


        <% modulePermissions.forEach(function(modulePermission) { %>
            <li class="nav-item">
                <a href="/<%= modulePermission.id %>" class="nav-link">
                    <i class="menu-icon <%= modulePermission.icon %>"></i>
                    <span class="menu-title">
                        <%= modulePermission.title %>
                    </span>
                </a>
            </li>
            <% }); %>




    </ul>
</nav>