<% include ./partials/header %>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-6 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo">
                                <img src="../../images/logo.svg" alt="logo">
                            </div>
                            <h4>Forget Password</h4>
                            <h6 class="font-weight-light">Reset Now</h6>
                            <% include ./partials/message %>
                                <form class="pt-3" action="/forget" method="post">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                            placeholder="Email" name="email"
                                            value="<%= inputData && inputData.email ? inputData.email : '' %>">
                                    </div>
                                    <div class="mt-3">
                                        <button
                                            class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                            type="submit">RESET LINK</button>
                                    </div>
                                    <div class="text-center mt-4 font-weight-light">
                                        Login <a href="/login" class="text-primary">Login</a>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <% include ./partials/footer %>